@{
    bool isBlue = false;
    if (isBlue) { <p style="color: blue">Hello, World!</p> }
    else { <p style="color: red">Hello, World!</p> }
    foreach (object item in ViewBag.objects) { <p>@item</p> }
}